ul{list-style-type: none;margin: 0px;padding: 0px;}
button{padding: 0px; outline: none;border: none;background-color: unset;}
html{
    font-size: 62.5%;
    background: #fff;
    height: 100vh;
}
body{
    height: 100%;
    margin:0 auto;
    padding-bottom: 4%;
    max-width: 720px;
    min-width: 320px;
    background: #f0f0f0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 3% 0 2.5%;
    color: #ffffff;
    font-size: 22px;
    background-color: #29bde0;
}
#footer-btn{
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    padding: 1.2rem 0;
    text-align: center;
    font-size: 2.8rem;
    color: white;
    background: orange;
    cursor: pointer;
}