header>button{
    display: inline-block;
    padding: 8px;
    box-shadow: inset 4px -4px 0 0 #ffffff;
    background-color: #29bde0;
    transform: rotate(45deg);
    cursor: pointer;
}
main{
    margin:0 auto;
    width: 96%;
}
main>*{background-color: #fff;}
.title{
    padding: .7rem 0;
    margin: .6rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 540;
    box-shadow: 1px 2px 2px -1px rgb(218, 218, 218);
}
.list{
    min-height: 19rem;
    padding: 8px 0;
    box-shadow: 0 2px 0 -1px rgb(218, 218, 218);
}
.list>li{
    display: inline-block;
    width: 45%;
    margin-left: 4%;
}
.list img{
    float: left;
    width: 28px;
    border-radius: 50%;
}
.list>li>span{
    display: block;
    padding: 6px 0 0 39px;
}
.work-group,
.player-number{
    margin: .6rem 0;
    padding: 1.5rem 3rem;
    min-height: 6.5rem;
    text-align: center;
}
.player-number>span:nth-child(1),
.player-number>input{
    font-size: 1.5rem;
    font-weight: bold;
}
.player-number>input{
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border: 0px;
    outline: none;
}
.player-number>input,
.player-number>span:nth-of-type(2){
    color: orange;
}
.player-number>span:nth-of-type(2){
    display: inline-block;
    transform: scale(0.9);
}
.player-number>:nth-child(n+0){vertical-align: -6px;}
#footer-btn{
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    padding: 1.2rem 0;
    text-align: center;
    font-size: 2.8rem;
    color: white;
    background: orange;
    cursor: pointer;
}