@charset "UTF-8";
/*reset*/
ul, li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

button {
  outline: none !important;
  border: none; }

/*必须是html100%高度body才是100%高度*/
html, body {
  height: 100%;
  font-size: calc(10px); }

header, main {
  background: #fafafa; }

h3, h4 {
  font-size: 1.6rem;
  font-weight: bold; }

/*reset结束*/
/*变量*/
/*变量结束*/
/*混合器*/
/*混合器结束*/
/*属性复用*/
.main__profession-main, .column__main-3 .main-3__content {
  display: flex;
  flex-wrap: wrap; }

.column__main-3 > span:nth-child(1), .column__msg h3 {
  text-align: center; }

.profession-main__column {
  font-size: 1.2rem; }

.carousel-inner img {
  width: 100%; }

.main__profession-title, .profession-main__column {
  border-bottom: solid 1px #d8d8d8; }

.column__main-1 span:nth-child(1), .column__main-2 span:nth-child(1), .column__main-3 > span:nth-child(1) {
  border-right: solid 1px #d8d8d8; }

/*属性复用结束*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.main__top-nav-title {
  padding: 33px 0 28px 0; }
  .main__top-nav-title h3 {
    display: inline-block;
    cursor: pointer; }
  .main__top-nav-title h4 {
    color: #29b078; }

.main__top-nav-menu {
  border-top: solid 1px #cfcfcf;
  border-bottom: solid 1px #cfcfcf;
  position: relative;
  padding: 24px 0;
  margin-bottom: 32px !important;
  font-size: 1.4rem; }

.nav-main__btn--width {
  width: 50px; }

.top-nav-menu__nav-main {
  margin-left: 55px; }

.top-nav-menu__nav-title {
  position: absolute;
  top: 24px;
  bottom: 0;
  float: left;
  color: #999999; }

.nav-main__btn {
  display: inline-block;
  width: 74px; }
  .nav-main__btn span {
    padding: 0 4px; }
    .nav-main__btn span:hover {
      cursor: pointer; }
    .nav-main__btn span:active {
      color: #fff;
      background-color: #29b078;
      cursor: pointer; }

.main__profession-title {
  padding-bottom: 32px; }

.main__profession-main {
  justify-content: space-between;
  padding-bottom: 32px; }

.profession-main__column {
  display: inline-block;
  position: relative;
  margin-top: 46px;
  padding: 20px 0 0;
  -webkit-box-shadow: 1px 1px 7px #e8e8e8;
  -moz-box-shadow: 1px 1px 7px #e8e8e8;
  box-shadow: 1px 1px 7px #e8e8e8; }
  .profession-main__column strong {
    color: #000; }
  .profession-main__column:hover .column__msg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 42px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; }

.column__top {
  display: inline-block; }
  .column__top img {
    margin: 0 10px;
    float: left; }
  .column__top div {
    padding-top: 2%; }
    .column__top div h3 {
      padding-bottom: 5px; }
    .column__top div p {
      word-break: break-all;
      padding-right: 10px; }

.column__ornament {
  display: flex;
  color: #999999;
  border-top: solid 1px #d8d8d8; }

.column__main-1 {
  margin-top: 16px; }

.column__main-1 span, .column__main-2 span {
  padding: 10px 0 10px 10px;
  width: 50%; }
  .column__main-1 span img, .column__main-2 span img {
    margin: -5px 0 0 12px; }

.column__main-3 > span:nth-child(1) {
  height: 105px;
  width: 40%;
  line-height: 100px; }
.column__main-3 .main-3__content {
  width: 60%; }
  .column__main-3 .main-3__content span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 5%; }
  .column__main-3 .main-3__content span:nth-child(n+2) {
    border-top: solid 1px #d8d8d8; }

.column__main-2 small {
  margin-left: 12px;
  color: #ff0000; }

.column__main-4, .column__footer {
  padding: 10px;
  word-break: break-all; }

.column__main-4 strong:nth-child(2) {
  color: #ff0000; }
.column__main-4 strong {
  font-size: 14px; }

.column__msg {
  display: none; }
  .column__msg h3 {
    margin: 56px 0 37px 0; }
  .column__msg p {
    text-align: justify; }

@media screen and (max-width: 575px) {
  .row {
    margin: 0; } }
@media screen and (max-width: 524px) {
  .nav-main__btn--width {
    width: 74px; } }
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 32.333333%;
    max-width: 33.333333%; } }

/*# sourceMappingURL=job-title.css.map */
