ul,li{display:inline-block;list-style-type: none;margin: 0;padding: 0;}
button{outline: none;border:none;}
html,body{height:100%;}
html{
    font-size: 62.5%;
    background: #fff;
}
body{
    position: relative;
    margin: 0 auto;
    padding:0;
    max-width: 720px;
    min-width: 320px;
    background-color: #29bde0;
}
header{
    display: flex;
    background: #29bde0;
}
header span{
    display: inline-block;
    flex: 1;
    width:33%;
    margin-top: 5.8%;
    font-family: serif;;
    font-size: 5vw;
    color: #ffffff;
    text-align: center;
}
.header-left,.header-right{
    display: inline-block;
    flex: 1;
    width:33%;
    padding-top:14%;
}
.header-left{
    background: url("../images/vote-1.png") no-repeat 14% 68%/18%;
}
.header-right{
    background: url("../images/vote-2.png") no-repeat 85% 69%/18%;
}
main{
min-height: 88%;
}
.main-msg-1{
    padding:2.6% 0 3.6% 7%;
    background-color: rgba(255,255,255,0.7);
}
.main-msg-2{
    font-size: 4vw;
}
.main-msg img{
    margin: 0 0 -2.1% 39%;
    width:7.5%;
}
.main-msg-3{
    width:0;
    height:0;
    margin-left: 10%;
    margin-bottom: 1%;
    border-width: 2.2vw 1.2vw 0;
    border-style:solid;
    border-color:#b9e9f5 transparent transparent;/*灰 透明 透明 */
}
.main-msg>span{
    padding-left: 11%;
    font-size: 3.5vw;
    color: #fff;
}
.main-content{
    width: 99.5%;
    height: 60vmax;
    margin-top: 3.6%;
    overflow: auto;
}
.main-content-vote{
    position: relative;
    margin: 3% 5.1% 8%;
    background-color: #f5c97b;
    border: 1vw solid #fff;
    text-align: center;
}
.main-content-vote>li{display: block}
.main-content-vote>li:nth-child(1){
    padding: 24% 5.6vw 0;
    font-size: 4.4vw;
}
.main-content-vote>li:nth-child(2){
    margin-top: 19%;
    background-color: #83b09a;
    font-size: 3.6vw;
    color: #fff;
}
.main-content-icon{
    position: absolute;
    top: 122%;
    left: -7%;
    width: 115%;
}
.main-content-icon>span{
    flex:1;
}
.main-content-icon img{
    width: 84%;
}
.main-content-vote>.main-content-icon{   /*第78行的权值由于是11（10+1=11），其属性是把li变为block，与101行的属性是同类型的，所以如果不添加子选择器的话，这个属性就因为权值小的问题失去作用*/
    display: none;
}
.main-content-vote:hover .main-content-icon{
    display: flex;
}
.main-content::-webkit-scrollbar{
    width: 1.5vw;
}
.main-content::-webkit-scrollbar-track{
    background-color: #4aa1c8;
    border-radius: 7px;
}
.main-content::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 7px;
}

footer{
    position: absolute;
    height:15%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5%;
    background-color: #29bde0;
    text-align: center;
}
footer>button{
    width: 73vw;
    padding: 3%;
    background: #fbb435;
    color: #fff;
    font-size: 7vw;
}
@media screen and (min-width: 720px) {
    header>span{font-size: 36px;}
    .main-msg-2{font-size: 29px;}
    .main-msg>span{font-size: 25px;}
    .main-msg-3{border-width: 18px 10px 0;}
    .main-content{width:719px;}
    .main-content-vote{margin:3% 4.4% 8%;border-width: 7px;}
    .main-content-vote>li:nth-child(1){padding:24% 47px 0;font-size: 31px;}
    .main-content-vote>li:nth-child(2){font-size: 26px;}
    footer>button{width: 526px;font-size:50px;}
    .main-content::-webkit-scrollbar{width:11px;}
}
@media screen and (max-width: 320px) {
    .main-msg-2{font-size: 12px}
}
@media screen and (min-width: 640px){
    .main-content{height: 45rem;}
}