html{
    font-size: 62.5%;
    background: #fff;
    height: 100vh;
}
body{
    height: 100%;
    margin:0 auto;
    padding-bottom: 4%;
    max-width: 720px;
    min-width: 320px;
    background: #f0f0f0;
}
header{
    padding: 3% 5%;
    background-color: #29bde0;
}
header>button{
    width: 4rem;;
    background-color: rgba(0, 0, 0, 0);
}
header>button div{
    margin-top: .5rem;
    height: .3rem;
    background-color: #fff;
}
main{
    margin:0 6%;
    width:88%;
}
.review{
    padding:4% 0;
    background: url("../images/home_page-2.png") no-repeat 97% 50%/5%;
}
.review>span{/*review__content*/
    font-size: 18px;
    color: #9a9a9a;
}
.review,.content{
    background-color: #ffffff;
    margin-top: 4%;
    text-align: center;
    border: 1px double #cecece;
    letter-spacing: 3px;
}
.content{
    position: relative;
}
.title{/*content__title*/
    padding:3% 0;
    border-bottom: 0.2rem solid #fdd793;
    overflow: hidden;
}
.title>span{transition: all .5s;}
.title>span:nth-child(1){
    position: relative;
    left: 7.5%;
}
.title>span:nth-child(2){
    position: relative;
    left: 52%;
}
#change-1:checked ~ .title>span:nth-child(1){margin-left: 0;}
#change-2:checked ~ .title>span:nth-child(1){margin-left: -119%;}
#slider{
    white-space: nowrap;
    overflow: hidden;
}
.list{
    display: inline-block;
    width: 100%;
    transition: all .5s;
}
.list>li{/*content__option*/
    margin: 4% 8% 0 8%;
}
.list>li:nth-child(odd){/*option__btn*/
    background: #69d1e9;
    font-size: 18px;
    color: #fff;
}
.list>li:nth-child(odd)>a{
    display: block;
    padding:6% 0;
}
.list>li:nth-child(even){/*option__hint*/
    color: #787878;
}
input{display: none;}
#change-1:checked ~ #slider>ul:nth-child(1){margin-left: 0;}
#change-2:checked ~ #slider>ul:nth-child(1){margin-left: -102%;}
.page>label{/*page__dot*/
    display: inline-block;
    transition: all .2s;
}
.page>label:hover,
#change-1:checked ~ .page>:nth-child(1),
#change-2:checked ~ .page>:nth-child(2){
    background: #faf75e;
}
.arrow>label{
    position: absolute;
    bottom: 44%;
    border-style:solid;
}
.arrow>label:nth-child(2),
.arrow>label:nth-child(1){
    left: 2%;
    border-width:12px 12px 13px 0;
    border-color:transparent #fbb435 transparent transparent;/*透明 透明 透明 橘*/
}
.arrow>label:nth-child(4),
.arrow>label:nth-child(3){
    right: 2%;
    border-width:12px 0 12px 13px;
    border-color:transparent transparent transparent #fbb435;/*透明 透明 透明 橘*/
}
/*触发按钮1的时候，隐藏两个关联按钮1的label，此时页面显示的是按钮2的两个label*/
#change-1:checked ~ .arrow>:nth-child(1),
#change-1:checked ~ .arrow>:nth-child(3){
    display: none;
}
/*触发按钮2的时候，隐藏两个关联按钮2的label，此时显示的是按钮1的两个label*/
#change-2:checked ~ .arrow>:nth-child(2),
#change-2:checked ~ .arrow>:nth-child(4){
    display: none;
}
/*以上两个触发机制，是为了隐藏当前轮播页面的指向的按钮，显示另一个轮播页面*/
/* #change-1:checked ~ .arrow>:nth-child(1){opacity:0;transition: 0s .5s;}
#change-2:checked ~ .arrow>:nth-child(2){opacity:0;transition: 0s .5s;} */
