@charset "UTF-8";
@import "base/color","base/common","modules/carousel";
.header__recommend{width:100%;}
.main__content{display: flex;}
.main__top-title{
  padding: 33px 0 28px 0;
  >span:nth-child(2){color: $green;}
  @extend %f-16;
}
.content__sidebar__top-title{
  margin-bottom: 34px;
  padding: 18px 0;
  @extend %f-16;
  font-weight: 600;
  @include b-b(1px,$color:$light-grey);
}
.content__sidebar{
  height: 660px;
  margin-right: 24px;
  padding: 0;
  background-color: $white;
  text-align: center;
  @include b-r($value:5px);
  @include b-s(1px 1px 7px #d8d8d8);
}
.sidebar-list{
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  width: 85px;
  color: $green!important;
  @include f-f($size:1.4rem,$boolean:true);
  text-align: left;
  cursor: pointer;
  >span:active{color: $orange;}
}
.circle{
  display: inline-block;
  width: 10px;
  height:10px;
  @include b-r($value:50%);
  @include border(1px,$color:$Tangerine);
  &:active{background-color:$Tangerine;}
  span{@include position($two:true,$side1:top,$side2:left,$value1:0,$value2:13px);}
}
.content__column{
  margin:0 0 230px 0;
  padding-bottom: 184px;
  background-color: $white;
  @include b-s(1px 1px 7px $light-grey);
  @include b-r($value:5px);
  line-height: 1.8;
}
.column__text{font-size: 1.4rem;}
.column__text--position{
  display: inline-block;
  padding:25px 0 10px 0;
  @include b-b(1px,$color:$light-grey);
  >img{float: left;}
}
@media screen and (max-width: 1200px){
  .main__content{display: block;}
  .content__column{margin: 30px 0 30px 0;}
  main{padding-bottom: 10px;}
}