html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background-color: aliceblue;
}
header{
    position: fixed;
    background: #5bb7c3;
    padding:2rem 1.3rem ;
    height:0.6rem;
    font-size: 1rem;
    left:0;
    right:0;
    top:0;
    color: #ffffff;
}
header a{
    font-size: 1.5rem;
    text-decoration: none;/*下划线清除*/
    color: #ffffff;
    cursor: pointer;
    line-height: 1rem;
}
header h2{
    margin: 0 0;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.3rem;
}
.button-left{
    float: left;
}
.button-right{
    float: right;
}
main{
    position: absolute;
    top:4.9rem;
    left:0;
    right:0;
}
.phone,.password{
    margin: 1rem 0 0 0;

}
.phone input{
    box-sizing:border-box;
    padding:0 0 0 6rem;
    width: 100%;
    border:0;
    outline: none;/*在元素边框边缘的外围绘制一条线,none是无*/
    line-height: 5rem;
    font-size: 1.4rem;
    background-image: url(images/tell.png);
    background-size: 5rem 5rem;
    background-repeat: no-repeat;
}
.password input{
    box-sizing:border-box;
    padding:0 0 0 6rem;
    margin: 0;
    width: 100%;
    border:0;
    outline:none;
    line-height: 5rem;
    font-size: 1.4rem;
    background-image: url(images/password.png);
    background-size: 5rem 5rem;
    background-repeat: no-repeat;
}
.button-login{
    background: #5bb7c3;
    padding:2rem 2.5rem ;
    height:1rem;
    width:100%;
    margin-top:1rem;
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 0.1rem;
    letter-spacing: 1rem;
    border: 0;
}
.bottom-right{
    position: absolute;
    top:18rem;
    right:1rem;
}
.bottom-right a{
    color: #009afd;
}