body{position: relative;padding-bottom: 0px; background-color: #29bde0;}
header{border-bottom:2px solid #61cae1;}
#btn1{
    padding: 8px;
    box-shadow: inset 4px -4px 0 0 #ffffff;
    transform: rotate(45deg);
    cursor: pointer;
}
#btn2::before,#btn2::after{
    content: "";
    display: inline-block;
    width: 4px;
    height: 27px;
    background-color: #ffffff;
}
#btn2::before{transform: rotate(45deg) translate(1px, -1px);}
#btn2::after{transform: rotate(-45deg) translate(-1px, -1px);}
#title2{display: none;}/*js切换用*/
main{
    position: absolute;
    top: 6.5rem;
    bottom: 0px;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    -ms-scrollbar-track-color: transparent;
    left: 0;
    right: 0;
    padding-top: 2rem;
}
main::-webkit-scrollbar {
    width: 0px;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color:  #29bde0;
    padding: 2rem 0;
}
#footer-btn{
    width: 80%;
}
