@charset "UTF-8";
/*header导航条*/
.header__main-nav{background-color: $green;}
.nav-item{@extend %f-16;}
.header__main-nav{
  nav>a{@extend %padding-0;}
}
.navbar-dark{
  .navbar-nav{
    .nav-link,.nav-link:hover{color: $white;}
  }
}
.header__main-nav .navbar-nav>.nav-item{padding: 0 10px;margin: 0 16px;}
@media (max-width: 767px){
  .navbar{padding:1rem;}
  .navbar-toggler{
    padding:9px 10px;
    border-radius: 5px;
    background-color: mix($green,$white,75%);
    border-color: $green!important;
  }
  button:hover{background-color: rgba($black,.2);}
  .navbar-toggler-icon{background-size: 150% 150%;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(85, 85, 85, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;}
  .navbar-expand-md>.col-md-6{width: auto;}
  .navbar-brand>img{width: 60%;}
  .navbar-brand>img{padding-left: 0;}
  .nav-item{text-align: center;}
}
@media screen and (min-width: 768px){
  .top-nav__login--hidden-md {display: none;}
  .navbar{padding:0 10px;}
  .navbar-nav{@include position($aright:true);}
  .nav-link{width:44px;}
  .navbar-collapse{min-height: 99px;}
  #index .navbar-brand>img{margin-left: -38px;}
  .navbar-nav{margin-right: -30px;line-height: 5.4;}
  #index .navbar-nav>li:nth-child(1),
  #index .navbar-nav>li:nth-child(n+2):hover,
  #cooperation .navbar-nav>li:not(:nth-child(3)):hover,
  #cooperation .navbar-nav>li:nth-child(3),
  #job-title .navbar-nav>li:nth-child(2),
  #job-title .navbar-nav>li:not(:nth-child(2)):hover {@include b-b(4px)}
}

/*header导航条结束*/