ul,li{display:block;list-style-type: none;margin: 0;padding: 0;}
a:link,a:visited,a:hover,a:active{text-decoration: none}
button{outline: none;border:none;}
html,body{height:100%;font-size: calc(10px)}
header,main{background: #fafafa;}
h3{font-size: 1.6rem;font-weight: bold;}
.text-align{text-align: center}
.font-size{font-size: 0}
.font-size-14{font-size: 1.4rem;}
.font-size-16{font-size: 1.6rem;}
.header-1{height:40px;}
.header-image-1{
    display: inline-block;
    height:25px;
    width:25px;
    background: url("../images/sprite.png") no-repeat 0 0/29rem;
}
.header-image-2{
    display: inline-block;
    height:25px;
    width:25px;
    margin:0 16px;
    background: url("../images/sprite.png") no-repeat -4.2rem 0/29rem;
}
.header-image-3{
    display: inline-block;
    height:25px;
    width:25px;
    background: url("../images/sprite.png") no-repeat -8.2rem 0/29rem;
}
.header-phone{
    color: #29b078;
    line-height: 2.8;
}
.header-icon{
    text-align: right;
    margin-top: 7px;
}
.header-login{
    padding-right: 1rem;
    line-height: 40px;
    text-align: right;
}
.bg-green{background-color: #29b078;}
.header-phone,.header-login{font-size: 1.4rem}
.nav-item{font-size: 1.6rem;}
.bg-green>.container>nav>a{padding: 0;}
.bg-green .navbar-nav>.nav-item{
    padding: 0 10px;
    margin: 0 16px;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover{color:rgba(255,255,255,1);}
/*--------------footer样式------------------*/
.friend-link{margin-bottom: 0.3rem}
.friend-link>h3{
    margin:2.2rem 0 2.8rem 0;
}
.friend-link>div{
    display: flex;
    flex-wrap: wrap;
}
.friend-link>div>p{
    display: flex;
    justify-content: space-around;
    padding:0;
}
.friend-link-1>a,
.friend-link-2>a,
.friend-link-3>a,
.friend-link-4>a{
    height:2.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #999999;
}
.friend-link-1>a:nth-child(3),
.friend-link-3>a:nth-child(3){
    margin-right: 1.4rem;
}
.friend-link a:hover{border-bottom: 1px solid #29b078;}
.nav,.nav-4{background: #55a877;  }
.nav>.container>.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.6rem;
}
.nav a,.nav,.nav-4{color: #ffffff!important;}
.nav a,.nav span{
    font-size: 1.4rem;
    font-weight: 500;
}
.nav h3{
    font-size: 1.6rem;
}
.nav-1>h3{padding: 2rem 0 3rem 0;}
.nav-2>h3{padding: 2rem 0 1rem 0;}
.nav-1>p:last-child,
.nav-2>p:last-child{
    margin-bottom: 0;
}
.nav-3{
    text-align: right;
    text-align: -webkit-right;
}
.nav-3>h3{padding: 2rem 0 .7rem 0;}
.nav-3>div{
    width: 9.2em;
    height: 9.2em;
    background: url("../images/sprite.png") no-repeat -7.4rem -49.1rem/38rem;
}
.nav-4{
    text-align: center;
    border-top: .1rem solid #32c086;
    font-size: 1.2rem;
}
.nav-4>p{margin-bottom: 0;line-height: 2.4}
.nav a:hover{
    border-bottom: 1px solid;
}
/*--------------------*/
@media (max-width: 767px){
    .hidden-xs {display: none;}
    .navbar{padding:1rem;}
    .navbar-toggler{
        padding:0.9rem 1rem;
        border-radius: 0.5rem;
        background-color: #52ce96;}
    .navbar-dark .navbar-toggler{border-color: #29b078;}
    button:focus{outline:none;}
    button:hover{background-color: rgba(0,0,0,0.2);}
    .navbar-toggler-icon{background-size: 150% 150%}
    .navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(85, 85, 85, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
    .navbar-expand-md>.col-md-6{width: auto;}
    .bg-green>.container>nav>a>img{width: 60%;}
    .bg-green .navbar-nav>.nav-item{padding-left: 0;}
    .bg-green .navbar .nav-item{text-align: center;}
    .nav-3{text-align: left;text-align: -webkit-left;}
}
@media screen and (min-width: 768px){
    .hidden-md {display: none;}
    .navbar{padding:0 1rem;}
    .navbar-nav{position: absolute;right:0;}
    .bg-green .navbar-nav .nav-link{width:42px;}
    .bg-green>.container>nav>.navbar-collapse{min-height: 99px;}
    #index .bg-green>.container>nav>a>img{margin-left: -38px;}
    #index .bg-green .navbar-collapse>ul>li:nth-child(1){border-bottom: solid 4px #fff;}
    .bg-green .navbar-collapse>ul{margin-right: -3rem;line-height: 5.4;}
    #index .bg-green .navbar-collapse>ul>li:nth-child(n+2):hover{border-bottom: solid 4px #fff;}
    #cooperation .bg-green .navbar-collapse>ul>li:not(:nth-child(3)):hover{border-bottom: solid 4px #fff;}
    #cooperation .bg-green .navbar-collapse>ul>li:nth-child(3){border-bottom: solid 4px #fff;}
    #job-title .bg-green .navbar-collapse>ul>li:nth-child(2){border-bottom: solid 4px #fff;}
    #job-title .bg-green .navbar-collapse>ul>li:not(:nth-child(2)):hover{border-bottom: solid 4px #fff;}

}
@media screen and (max-width: 992px){
    .nav-2>div>a:nth-child(1) {margin-right: 2.4rem;}
}
@media screen and (max-width: 345px) {
    .friend-link-1>a,
    .friend-link-2>a,
    .friend-link-3>a,
    .friend-link-4>a{font-size: 1.2rem;}
}