@charset "utf-8";
$color-white:white;
@mixin absolute($top,$right,$left){
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
}
html{font-size:62.5%;}
body{
  margin: 0;
  background-color: aliceblue;
}
@mixin fixed($value:0) {
  position: fixed;
  left: $value;
  right: $value;
  top: $value;
}
@mixin link-a {
  text-decoration: none;
  cursor: pointer;
}
header{
  @include fixed(99*0);
  background: #5bb7c3;
  padding:2rem 1.3rem ;
  height:0.6rem;
  font-size: 1rem;
  color: $color-white;
  a{
    @include link-a;
    font-size: 1.5rem;
    color: $color-white;
    line-height: 1rem;
  }
  h2{
    margin: 0 0;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.3rem;
  }
}
.button-left{
  float: left;
}
.button-right{
  float: right;
}
main{
  @include absolute(4.9rem,0,0);
}
.phone{margin: 1rem 0 0 0;}
.password{@extend .phone;}
@mixin background($image,$size,$repeat...){
  background-image: $image;
  background-size: $size;
  background-repeat: $repeat;
}
@mixin border{
  border: 0;
  outline:none;/*在元素边框边缘的外围绘制一条线,none是无*/
}
.phone-input::placeholder{color: #e1e5e7;}
.phone-input{
  box-sizing:border-box;
  padding:0 0 0 6rem;
  width: 100%;
  @include border;
  line-height: 5rem;
  font-size: 1.4rem;
  @include background(url(../images/tell.png),5rem 5rem,no-repeat);
}
.password-input{
  @extend .phone-input;
  @include background(url(../images/password.png),5rem 5rem,no-repeat);
}
@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
.button-login{
  background: #5bb7c3;
  padding:2rem 2.5rem ;
  height:1rem;
  width:100%;
  margin-top:1rem;
  color: $color-white;
  font-size: 1.7rem;
  line-height: 0.1rem;
  letter-spacing: 1rem;
  @include border;
  @include transition(all 1.8s);
  &:hover{background: #34c38d;}
}
.bottom-right{
  @include absolute(18rem,1rem,none);
  a{
    text-decoration: none;
    color: #5bb7c3;
  }
}